<div class='container'>
  <h1>Wildlife Tracker</h1>
  <hr>

  <h2>All Species <a href="/species/" class="btn btn-info btn-xs">done</a></h2>
  <dl>
    <% @species.sort.each do |species| %>
      <dt>
        <form action="/species/<%= species.id %>" method="post">
          <input name="_method" type="hidden" value="delete">
          <button class="btn btn-danger btn-xs">-</button>
          <a href="/species/<%= species.id %>/edit/" class="btn btn-warning btn-xs">e</a>
        &nbsp;&nbsp;<%= species.name %>
        </form>
      </dt>
    <% end %>
  </dl>
</div>

