<div class='container'>
  <h1>Wildlife Tracker</h1>
  <hr>

  <h3>All Species</h3>
  <dl>
    <% @species.sort.each do |species| %>
      <dt>
        <a href="/species/<%= species.id %>"><%= species.name %></a>
      </dt>
    <% end %>
  </dl>

<form class="form-inline" action="/species/add" method="post">
  <label for="task_name"></label>
  <input class="form-control" id="species_name" name="name" placeholder="Add New Species" type="text">
  <button class='btn btn-info'>+</button>
</form>

</div>


