<div class='container'>
  <h1>Wildlife Tracker</h1>
  <hr>

  <h2>All Species</h2>
  <dl>
    <% @species.sort.each do |species| %>
      <dt>
        <a href="/species/<%= species.id %>"><%= species.name %></a>
      </dt>
    <% end %>
  </dl>

  <form class="form-inline" action="/species" method="post">
    <label for="task_name"></label>
    <input class="form-control" id="species_name" name="name" placeholder="Add New Species" type="text">
    <button class='btn btn-info'>+</button>
  </form>

</div>


